## 1. 파이썬 함수

In [7]:
def add(a,b):
    return a+b

a,b = 3,4
c = add(a,b)
print(c)

d = add(111, 222)
print(d)

7
333

In [10]:
# 1. 매개변수 O, 리턴값 O
def minus(a,b):
    result = a - b
    return result

a = minus(10,4)
print(a)

6

In [11]:
# 2. 매개변수 X, 리턴값 O
def say():
    return 'Hi!'

print(say())

Hi!

In [14]:
# 3. 매개변수 O, 리턴값 X
def add(x,y):
    print("%d, %d의 합은 %d입니다."%(x, y, x+y))

add(12,24)

a = add(3,4)
print(a)

12, 24의 합은 36입니다.
3, 4의 합은 7입니다.
None

In [15]:
# 4. 매개변수 X, 리턴값 X
def say():
    print('Hi~')

say()

Hi~

In [19]:
# 키워드 매개변수
def sub(a, b):
    return a - b

result = sub(7, 3)
print(result)

result2 = sub(b=3, a=7)
print(result2)

4
4

In [21]:
# 가변 매개변수(*매개변수명)
def add_many(*args):
    result = 0
    for i in args:
        result += i
    return result

res1 = add_many(1,2,3,4,5)
print(res1)

res2 = add_many(1,2,3,4,5,6,7,8,9,10)
print(res2)

15
55

In [29]:
# 덧셈, 곱셈 둘다 연산 가능한 함수
def add_mul(choice, *args):
    if choice == 'add':
        result = 0
        for i in args:
            result += i
    elif choice == 'mul':
        result = 1
        for i in args:
            result *= i
    return result

res1 = add_mul('add',1,2,3)
print(res1)

res2 = add_mul('mul',1,2,3)
print(res2)

6
6

In [31]:
# 키워드 가변 매개변수(**매개변수)
def print_kwargs(**kwargs):
    print(kwargs)

print_kwargs(a=1)

print_kwargs(name='foo', age=3)

{'a': 1}
{'name': 'foo', 'age': 3}

In [33]:
# 함수의 리턴값은 하나!!
def add_and_mul(a,b):
    return a+b, a*b

res = add_and_mul(3,4)
print(res)

res1, res2 = add_and_mul(3,4)
print("a+b = ",res1)
print("a*b = ",res2)

(7, 12)
a+b =  7
a*b =  12

In [34]:
def add_and_mul(a,b):
    return a+b
    return a*b

res = add_and_mul(2,3)
print(res)

5

In [36]:
# return의 또 다른 쓰임새
def say_nick(nick):
    if nick == '바보':
        return
    print("나의 별명은 %s 입니다."%nick)

say_nick('야호')
say_nick('바보')

나의 별명은 야호 입니다.

In [38]:
# 매개변수에 초기값 설정
def say_myself(name, age, man=True):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

# 함수 호출
say_myself('홍길동', 30)

say_myself('안정운', 30, False)

나의 이름은 홍길동입니다.
나이는 30살 입니다.
남자입니다.
나의 이름은 안정운입니다.
나이는 30살 입니다.
여자입니다.

In [39]:
# 매개변수에 초기값 설정
def say_myself(name, man=True, age):
    print(f"나의 이름은 {name}입니다.")
    print(f"나이는 {age}살 입니다.")
    if man:
        print("남자입니다.")
    else:
        print("여자입니다.")

# 함수 호출
say_myself('홍길동', 30)

SyntaxError: parameter without a default follows parameter with a default (3470421081.py, line 2)

In [49]:
# 함수의 유효범위
a = 1
def vartest(a):
    a = a+1

vartest(a) # 아무것도 실행 안됨
print(a) # 함수 밖에 있는 a출력됨

1

In [51]:
# 함수의 유효범위 => 1. return 사용하기
a = 1
def vartest(x):
    x = x+1
    return x

a = vartest(a)  # 함수 실행하면 x값 반환되고 a변수에 덮어씀.
print(a)

2

In [54]:
# 함수의 유효범위 => 2. global 명령어 사용하기
a = 1
def vartest():
    global a  # 함수 안에서 a는 전역변수로 변경됨
    a += 1

vartest()
print(a)

2

In [55]:
# lambda 표현식(예약어) 사용 안하고 함수 선언
def add(a,b):
    return a+b

print(add(3,4))

7

In [56]:
# lambda 표현식(예약어) 사용하여 표현
add = lambda a,b : a+b
print(add(3,4))

7

## 2. 함수의 활용

#### 1) 재귀함수
: 내가 만든 함수를 다시 호출하는 것

In [57]:
# 반복문으로 팩토리얼 구하기
def factorial(n):
    output = 1
    for i in range(1, n+1):
        output *= i
    return output

print('5! = ', factorial(5))

5! =  120

In [58]:
# 재귀 함수로 팩토리얼 구하기
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)

print('5! = ', factorial(5))

5! =  120

#### 2) 리스트 평탄화하는 재귀함수 만들기

In [62]:
# 반복문으로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += item
            # print(output)
        else:
            output.append(item)
    return output

example = [[1,2,3], [4, [5,6]], 7, [8,9]]
print(len(example))
print('원본 : ', example)
print('평탄화 : ', flatten(example))

4
원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 :  [1, 2, 3, 4, [5, 6], 7, 8, 9]

In [63]:
# 재귀 함수로 리스트 평탄화
def flatten(data):
    output = []
    for item in data:
        if type(item) == list:
            output += flatten(item)
            # print(output)
        else:
            output.append(item)
    return output

example = [[1,2,3], [4, [5,6]], 7, [8,9]]
print('원본 : ', example)
print('평탄화 : ', flatten(example))

원본 :  [[1, 2, 3], [4, [5, 6]], 7, [8, 9]]
평탄화 :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
2323